h1 {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #1E1C1C;
}

#defaultText {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#borderedText {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-right: 10vw;
  margin-left: 10vw;
}